-
  const positions = [
    {coord1: '18.9008333', coord2: '20.9243752'},
    {coord1: '20.9008222', coord2: '30.9243752'},
    {coord1: '22.8008444', coord2: '32.8253759'}
  ]

.present
  
  img.present__bg(src="img/home-bg.jpg", alt="@")
  
  svg.line(viewBox='0 0 6250 4200')
    path(mask='url(#mask)' fill='none' stroke='#e9204f' stroke-width='6' stroke-dashoffset='8837' stroke-dasharray='72 42' d='M120.6,4019.7c97.3-224.9,333.4-754.8,580.3-1031.4c310.3-347.7,471.1-118.8,727.9-238 c315.2-146.2,415.3-518.1,625.8-754.8c196.9-221.5,468.9-348.4,865.1,12.3c258.8,235.6,463.7,459.9,805.9,426.6 c291.6-28.4,485.3-362.3,612.3-748.5c119.2-362.5,148.6-735.9,447-854.4c308.1-122.2,442.9,238.6,787.4,179.9 c216.1-36.8,289-316.5,388.9-524.3c64.1-133.2,136.3-265.5,175-334.8')
    defs
      mask#mask
        path.st1(fill='none' stroke='white' stroke-width='6' stroke-dashoffset='8837' stroke-dasharray='8837' d='M120.6,4019.7c97.3-224.9,333.4-754.8,580.3-1031.4c310.3-347.7,471.1-118.8,727.9-238 c315.2-146.2,415.3-518.1,625.8-754.8c196.9-221.5,468.9-348.4,865.1,12.3c258.8,235.6,463.7,459.9,805.9,426.6 c291.6-28.4,485.3-362.3,612.3-748.5c119.2-362.5,148.6-735.9,447-854.4c308.1-122.2,442.9,238.6,787.4,179.9 c216.1-36.8,289-316.5,388.9-524.3c64.1-133.2,136.3-265.5,175-334.8')
          animate.animate(attributeName='stroke-dashoffset' begin='0.5s' repeatCount='1' fill='freeze' from='8837')
  
  each item, i in positions 
    div(class=`position position--${i}`) 
      .position__dot 
      .position__coords 
        span.position__coord(data-value= item.coord1)= item.coord1
        span.position__coord(data-value= item.coord2)= item.coord2
  
  include ./../sections/_header.pug