@keyframes rotateLogo{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.header{

  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5rem;

  &__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-icon{
    width: 4.8rem;
    height: 4.8rem;
    animation-name: rotateLogo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    path{
      transform-origin: center;
    }
  }

  &__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
  }

}

.logo{

  display: flex;
  align-items: center;

  &-text{
    width: 19.2rem;
    path{
      transform-origin: center;
      transition: all .3s;
      &.active{
        transform: scale(1.1);
      }
    }
  }

}

.menu{

  margin-left: auto;
  margin-right: 1rem;

  @include mediaWidth1{
    position: fixed;
    z-index: 5;
    right: -91%;
    top: 0; 
    width: 90%;
    height: 100%;
    padding: 3rem;
    background: rgba(0,0,0,0.99) ;
  }

  &__list{
    display: flex;
    align-items: center;
    gap: 1.7rem;
    @include mediaWidth1{
      flex-direction: column;
      align-items: flex-end;
      
    }
  }

  &__link{

    position: relative;
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-1);
    overflow: hidden;
    @include mediaWidth1{
      font-size: 3rem;
    }

    span{
      position: relative;
      transition: 0.3s;

      &::before {
        position: absolute;
        content: attr(data-text);
        transform: translateY(130%);
      }
    }

    &:hover{
      span{
        transform: translateY(-130%);
      }
    }
    
    &.active{
      &:after{
        content: '';
        position: absolute;
        bottom: -1.2rem;
        display: flex;
        width: 30%;
        height: 0.3rem;
        background: var(--color-2);
      }
    }

  }

}

.connect{

  display: flex;
  align-items: center;
  gap: 0.9rem;

  &__type{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    img{
      width: 2rem;
    }

    &--tg{
      background: #29B6F6;
    }

    &--wh{
      background: #40C351;
    }

  }

  &__phone{
    display: flex;
    font-family: var(--font-1);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-1);
    overflow: hidden;

    span{
      position: relative;
      transition: 0.3s;

      &::before {
        position: absolute;
        content: attr(data-text);
        transform: translateY(130%);
      }
    }

    &:hover{
      span{
        transform: translateY(-130%);
      }
    }
  }

}

.burger{ 
  position: absolute;
  z-index: 9;
  top: 3rem;
  left: -6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
   
  span{
    width: 30px;
    height: 3px;
    background: var(--color-1);
    transition: all 0.5s;
  }
  &.is-open{
    span{
      &:nth-child(1){
        transform: rotate(45deg) translateY(9px) translateX(5px);
        width: 35px;
      }
      &:nth-child(2){
        transform: translateX(-100%);
      }
      &:nth-child(3){
        transform: rotate(-45deg) translateY(-9px) translateX(5px);
        width: 35px;
      }   
    }
  }
 }

