@keyframes blameCursor{
  0%{
    border-color: transparent;
  }
  100%{
    border-color: var(--color-1);
  }
}

.present{

  position: relative;
  z-index: 1;
  height: 113rem;
  padding-top: 24rem;
  background: var(--color-0);
  overflow: hidden;
  @include mediaWidth1 {
		height: auto; 
	}

  .container{
    height: 100%;
  }

  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 29.3rem;
    margin-bottom: 6rem;
    font-size: 8rem;
    font-weight: 900;
    color: var(--color-1);
    
    span{
      position: relative;
      display: none;
      padding-right: 0.5rem;
      line-height: 1;
      border-right: 0.5rem solid var(--color-1);
      animation: blameCursor 0.75s infinite;
      
    }
  }

  &__button{
    margin-bottom: 9rem;
  }

  &__content{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  &__hero{
    position: absolute;
    right: 50%;
    transform: translate(100%, 10rem);
    width: 49.3rem;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-out;
    &.show{
      transform: translate(110%, 0rem);
      opacity: 1;
    }
    @include mediaWidth2{
      width: 38.3rem;
      &.show{
        transform: translate(116.55%, -13.41rem);
      }
    }
    @include mediaWidth3{
      width: 29.3rem;
      &.show{
        transform: translate(116.55%, -13.41rem);
      }
    }
  }

  &-services{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    @include mediaWidth1{
      flex-direction: column;
      gap: 1rem;
    }

    &__item{
      width: 38rem;
      height: 38.5rem;
      padding-top: 6.4rem;
      padding-left: 4.2rem;
      padding-right: 3rem;
      background: var(--color-3);
      @include mediaWidth1{
        width: 100%;
      }
    }

    &__icon{
      margin-bottom: 3.6rem;
      height: 8.8rem;
    }

    &__title{
      margin-bottom: 2.3rem;
      font-size: 2.4rem;
      font-weight: 900;
      color: var(--color-1);
      &:after{
        content: '';
        display: block;
        width: 6rem;
        height: 0.3rem;
        margin-top: 1rem;
        background: var(--color-1);
      }
    }

    &__text{
      font-size: 1.6rem;
      color: var(--color-1);
    }
  }

}

.line{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 103%;
  @include mediaWidth1 {
		display: none; 
	}
}

.position{
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all .3s;
  @include mediaWidth1 {
		display: none !important; 
	}
  
  &--0{
    bottom: 13.6rem;
    left: 18.1rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    .position__coords{
      transform: translate(-3rem, 0rem);
    }
  }

  &--1{
    bottom: 48.5rem;
    left: 91.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    .position__coords{
      transform: translate(-2rem, 2.3rem);
    }
  }

  &--2{
    top: 25.6rem;
    right: 40.3rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 5px;
    .position__coords{
      transform: translate(-0.7rem, -2.7rem);
    }
  }
  
  &__dot{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: var(--color-2);
  }

  &__coords{
    position: absolute;
  }

  &__coord{
    display: block;
    font-family: var(--font-1);
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-2);
  }

}
