:root{
	--font-0: 'Raleway', sans-serif;
	--font-1: 'Arial', sans-serif; 
	--color-0: #000;
	--color-1: #FFF;
	--color-2: #e9204f;
	--color-3: #222222;
}

// MIXINS

$mediaWidth1: 992px;
$mediaWidth2: 768px;
$mediaWidth3: 565px;
@mixin mediaWidth1 {
	@media (max-width: $mediaWidth1) {
		@content;
	}
}
@mixin mediaWidth2 {
	@media (max-width: $mediaWidth2) {
		@content;
	}
}
@mixin mediaWidth3 {
	@media (max-width: $mediaWidth3) {
		@content;
	}
}
