<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Home
	body

		include ./../sections/_preloader.pug

		include ./../sections/_present.pug
		
		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug